pkgbase = ros-noetic-rqt-graph
	pkgdesc = ROS - rqt_graph provides a GUI plugin for visualizing the ROS computation graph.
	pkgver = 0.4.14
	pkgrel = 2
	url = https://wiki.ros.org/rqt_graph
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	depends = ros-noetic-rqt-gui-py
	depends = ros-noetic-rosservice
	depends = ros-noetic-rqt-gui
	depends = ros-noetic-rosnode
	depends = ros-noetic-rosgraph-msgs
	depends = ros-noetic-rostopic
	depends = ros-noetic-rosgraph
	depends = ros-noetic-python-qt-binding
	depends = ros-noetic-qt-dotgraph
	depends = ros-noetic-rospy
	depends = ros-noetic-roslib
	depends = python-rospkg
	source = ros-noetic-rqt-graph-0.4.14.tar.gz::https://github.com/ros-visualization/rqt_graph/archive/759e210ac03a9c19e3ed4040361f97499203191f.tar.gz
	sha256sums = 57d37b075d32522d8efc71285e314900c76e3bd0ee58c49aeed0833b5c7a9131

pkgname = ros-noetic-rqt-graph
